<h2>Foundry Virtual Tabletop - Version 0.6.4 Update Notes</h2>

<figure>
    <img src="" title="Foundry VTT Version 0.6.4 Release Notes"/>
    <figcaption>Welcome to Foundry Virtual Tabletop Update 0.6.4</figcaption>
</figure>

<h4>Overview of Changes</h4>
<p>This is Foundry Virtual Tabletop Release version 0.6.4, a stable update on the <strong>Release</strong> channel which is available to all Foundry Virtual Tabletop license holders. The Release channel contains updates which should be stable and ready for widespread consumption by all Foundry users.</p>

<p>This update focuses on bug fixes and user experience adjustments that improve the release 0.6.2 version. The bulk of the changes included in this version are from the <a href="https://foundryvtt.com/releases/0.6.3" title="Beta 0.6.3 Update" target="_blank">Beta 0.6.3 Update</a> but there are some additional adjustments, features, and fixes which are included in 0.6.4. If you have not yet read the release notes for Beta 0.6.3 I recommend starting there.</p>

<p>Since the scope of changes for this update was relatively small, there is not a Twitch developer stream associated with update 0.6.4, but stay tuned for more live-stream content coming up as I begin working on the 0.7.x generation of updates!</p>
<hr/>

<h4>How to Update</h4>
<p>To apply this update, return Foundry Virtual Tabletop to the <strong>Configuration and Setup</strong> page and access the <strong>Update Software</strong> tab and choose the "Release (Stable)" channel in the dropdown menu. It is recommended for most users to stay on the Release channel for all updates unless you have a specific desire to get Alpha or Beta changes in the future.</p>

<p>After clicking <strong>Check for Update</strong> confirm that you are presented with the 0.6.4 update notes and click the Download button to begin the update process. Allow some time for this process to conclude, when it is finished your server will automatically restart (if Electron) or shut down (if Node.js).</p>
<hr/>

<h4>Reporting Issues and Providing Feedback</h4>
<p>If you encounter issues or have feedback to share, please use one of the following three reporting channels, ordered by preference:</p>
<ol>
	<li><strong>Discord Server:</strong> My preferred method to collect feedback is through our Discord server where I have created a dedicated channel for update 0.6.4 feedback. If you are able to join our Discord community it's the best way to engage with me directly for feedback.</li>
	<li><strong>GitLab Tracker:</strong> You are welcome to create issue reports directly in the GitLab tracker here, but please take caution to ensure your problem has not already been reported by checking other open (and closed) issues in the upcoming milestone before creating a new report.</li>
	<li><strong>Bug Report Form:</strong> There is an official bug report form on the official website. Please use the <a href="https://foundryvtt.com/contact-us/" target="_blank" rel="nofollow">Contact Us</a> form and select "Bug Report" as your category.</li>
</ol>

<p>Please stay up to date on progress by following the <a href="https://gitlab.com/foundrynet/foundryvtt/-/issues" rel="nofollow" target="_blank" title="FVTT Issue Tracker">project roadmap on Gitlab</a>.</p>
<hr/>

<h3>New Features</h3>
<ul>
	<li>Added the newly bundled Modesto font to the Font dropdowns so they can be used for Drawing text or Map Note labels.</li>
    <li>Provide a warning when users attempt to upload to a path containing /system or /module</li>
    <li>Improved the conventions for Signika fonts, Foundry now offers both light and semi-bold options. Also provide support for Signika Negative.</li>
    <li>Updated Font Awesome to latest version 5.13.1</li>
</ul>
<hr/>

<h3>Bug Fixes</h3>
<ul>
    <li>Filepicker.upload() failed if the User was not authenticated as a server admin user.</li>
    <li>Update notifier incorrectly notifies users of patches available from all channels instead of just selected channel</li>
    <li>New Scene creation was incorrectly prevented if the Width and Height fields were left blank despite having a background image assigned.</li>
    <li>Some Scene changes were not properly triggering a full re-draw, leaving the user unable to interact with or pan the canvas.</li>
    <li>Corrected an unexpected behavior which would occur when deleting a Journal Entry before a Map Note that referenced it.</li>
    <li>Corrected an issue which prevented creation of new Compendium Packs due to an incorrect absolute path check requirement on the server-side.</li>
    <li>If a Rollable Table in a compendium had Draw with Replacement unchecked, the RollTable.drawMany() function would fail.</li> 
    <li>Editing a Compendium name after duplicating a Compendium returned an error.</li>
    <li>When a player chose a character, their associated token would be selected for the GM as well.</li>
    <li>Due to the way Token preview images were created, dragging an Actor when there was no active Scene caused an error.</li>
    <li>If the GM had a player character set, changing permissions of any actor that had a token placed in the active Scene would throw an error.</li>
    <li>Fixed an invalid Chat Message regex statement which would incorrectly bundle text on newlines if a &lt;br&gt; character was inserted.</li>
    <li>Rapidly expanding and collapsing context menu displays would sometimes result in the inferred height of the context menu being incorrectly set to zero.</li>    
    <li>Resetting fog of war was not correctly updating for players without a refresh.</li>
    <li>The Signika bold font was loaded using an incorrect case-sensitive file name.</li>
</ul>
<hr/>

<h3>Framework and API Changes</h3>
<ul>
    <li>The FilePicker.upload API should display an informative error message if the upload is blocked due to a server-side file size limit.</li>
    <li>Improved the documentation of the Ray class, which was missing doc strings for many methods</li>
    <li>Transitioned to load FontAwesome explicitly through header CSS rather than asynchronously using loadFont().</li>
    <li>Removed reliance on the loadFont() helper method and stage it for deprecation in 0.8.x</li>
    <li>Item Sheet image edit workflow should only submit the change if options.submitOnChange is true</li>
    <li>Allow static file paths for scripts/styles in package manifests to reference absolute URLs - treating them as such instead of as relative paths.</li>
</ul>
<hr/>

<h3>Documentation Improvements</h3>
<ul>
    <li>API documentation updated to be consistent with the 0.6.4 software.</li>
</ul>
<hr/>

<h3>Known Issues</h3>
<p>A number of more complex or potentially breaking bug fixes were shifted to the 0.7.x Milestone in order to provide adequate testing before they are packaged for release. For more information please review the milestones below:</p>

<ul>
    <li><a href="https://gitlab.com/foundrynet/foundryvtt/-/issues?scope=all&utf8=%E2%9C%93&state=opened&milestone_title=Alpha%200.7.0&label_name[]=Bug" rel="nofollow" target="_blank" title="0.7.0 Known Issues">Known Issues to be addressed in 0.7.0</a></li>
    <li><a href="https://gitlab.com/foundrynet/foundryvtt/-/issues?scope=all&utf8=%E2%9C%93&state=opened&milestone_title=Release%200.7.x%20Pooling&label_name[]=Bug" rel="nofollow" target="_blank" title="0.7.x Known Issues">Known Issues to be addressed in 0.7.x</a></li>
</ul>