<figure class="right">
    @Image[51]
    <figcaption>Measured Template Controls</figcaption>
</figure>

<h3 id="controls">Measurement Controls</h3>

<p>The Measurement Control toolbar, when enabled, provides access to tools for accessing and controlling the placement of measured templates. This tool allows you to determine the shape of a spell, or area effect, and determine what spaces will be affected.</p>

<p>These tools all function roughly in the same way: click a point in the scene, and drag out the selected measurement shape to the desired size. Once you release your mouse button it will show you all the spaces affected if your Scene is set to use a Grid. Gridless maps will not show highlighted spaces, though it will still show the area of the effect.</p>

<p>You can hover your mouse over an existing template’s origin point and use Shift + your mouse scroll wheel to rotate a cone or ray template around its starting point. Control + scroll wheel allows you to make smaller fine adjustments to the cone or ray angle.</p>

<p>These templates can be repositioned by clicking and dragging the template by the starburst icon that represents the template’s origin point.</p>

<p>To delete a template, simply hover your mouse over the origin point, and press the delete key. Gamemasters can use the trash can icon to remove all measurement templates from a scene.</p>
<hr/>

<h3 id="types">Types of Templates</h3>

<p>There are four types of measurement templates to choose from: circle, cone, rectangle, and ray, each one denoting a different shape and style of measurement.</p>

<dl>
    <dt>Circle</dt>
    <dd>Circular templates create a radius around the starting point to the distance you select.</dd>

    <dt>Cone</dt>
    <dd>Cones create an effect in the shape of a triangle or pizza slice from the starting point. These cones default to about 53 degrees, but can be customized in the templates settings.</dd>

    <dt>Rectangle</dt>
    <dd>A rectangle uses the origin point as one of the corners, treating the origin as being inside of the rectangle's area.</dd>

    <dt>Ray</dt>
    <dd>A ray creates a single line that is one square in width and as long as you drag it to. Rays can have their width increased as required in its template settings.</dd>
</dl>
<hr/>

<h3 id="customizing">Customizing Templates</h3>

<p>The measurement template configuration screen can be accessed by double clicking any existing template in a scene. From there you can change the type of template to any of the types noted above, and directly manipulate various qualities of the drawn template.</p>

<figure class="right">
    @Image[52]
    <figcaption>Measured Template Configuration Sheet</figcaption>
</figure>

<dl>
    <dt>Template Type</dt>
    <dd>You may alter the shape type of the Measured Template after it is placed using this dropdown field.</dd>

    <dt>X-Position</dt>
    <dd>The x-coordinate location of the Template origin. This can also be changed via drag-and-drop on the control icon.</dd>

    <dt>Y-Position</dt>
    <dd>The y-coordinate location of the Template origin. This can also be changed via drag-and-drop on the control icon.</dd>

    <dt>Direction</dt>
    <dd>The Template direction determines which angle which the template is facing. For some template types (like circle) this may not have an effect, but for templates like Cone, or Ray this configures the direction in which the template points.</dd>

    <dt>Angle</dt>
    <dd>This field only applies to conical templates and can be any value from 1 to 360 degrees.</dd>

    <dt>Width</dt>
    <dd>This field only applies to Ray type templates to configure the width of the ray or beam.</dd>

    <dt>Distance</dt>
    <dd>This configures how far the Measured Template reaches from its origin point. For a circle template, this sets the radius of the, while in all other templates it can affect the length of a ray or cone, or the width of a rectangle. Note: Once a template has been drawn in a scene, the only way to change the distance is by directly manipulating it from the configuration window.</dd>

    <dt>Border Color</dt>
    <dd>This determines the color of the template’s outline, and defaults to black, but can be changed after the fact to whatever color desired.</dd>

    <dt>Fill Color</dt>
    <dd>This determines the internal color and grid highlight color when a cone is drawn. The fill color defaults to the color of the user creating the template. This color can be changed to whatever color desired from this menu.</dd>

    <dt>Template Texture</dt>
    <dd>This allows for a tiling image to be applied to the interior of the Measured Template. The texture will be repeated to fill the entirety of the shape, which looks best when a tileable, seamless texture is used. Tiling textures must be image files only and are recommended to be power-of-2 in their dimensions (ie. 128, 256, 512, etc...).</dd>
</dl>
<hr/>

<h3 id="cone">Cone Template Type</h3>

<p>The Game Settings menu can be used to change the style of cone templates: Cone Template Type. This determines the appearance of the edge of the Cone template shape and whether it is rounded (default) or more triangular and flat. A visual comparison of a 20 foot cone with round (left) and flat (right) settings is shown below.</p>

<figure>
    @Image[53]
    <figcaption>A visual comparison of rounded (left) vs flat-bottomed (right) cones.</figcaption>
</figure>

<p>This directly affects how many squares are affected at the farthest edge of a cone. The rounded setting makes the cones taper slightly at the edge, while the flat setting makes sure the widest part of the cone and most affected squares is always the furthest point from the origin.</p>
<hr/>

<h3 id="api">API References</h3>
<p>To interact with AmbientLights programmatically, consider using the following API concepts:</p>
<ul>
    <li>The @API[MeasuredTemplate,The MeasuredTemplate Object] Object</li>
	<li>The @API[TemplateLayer,The TemplateLayer Canvas Layer] Canvas Layer</li>
	<li>The @API[MeasuredTemplateConfig,The TemplateConfig Application] Application</li>
	<li>The @API[Ruler,The Ruler Utility] Utility</li>
</ul>
<hr>